.sidebar {
    position: absolute;
    background-color: whitesmoke;
    width: 22vw;
    height: 94vh;
    padding: 20px;
    z-index: 1000;
    text-align: center;
}

.sidebar.is-open {
    margin-left: 0;
}

.mainDetailsFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDetailsFlex div {
    padding: 10px
}

.mainDetailsFlex h2 {
    font-weight: bold;
    margin-bottom: 0;
}

.mainDetailsFlex h5 {
    margin-bottom: 0;
}

.mainDetailsFlex p {
    margin: 0;
}

.subdetailsFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.subdetailsFlex p {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0
}

.logoAndCallsignWrapper {
    text-align: left;
}

.logoAndCallsignWrapper h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
    padding: 0;
}

.subdetailsFlex p {
    text-align: left;
}

.sidebar > .card {
    margin-top: 1em;
}