/* .leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
} */
.leaflet-tooltip {
    border: none;
    padding: 0;
}